<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>To-Do List</title> 
       <link rel="stylesheet" href="/static/styles.css">
       <script defer src="/static/script.js"></script>
    </head>
    <body>
        <nav class="tasks">
            <h2>Scroll Quick Here</h2>
            <ul class="task-links">
                <li><a href="#complete-tasks">Complete Tasks</a></li>
                <li><a href="#incomplete-tasks">Ongoing Tasks</a></li>
                <li><a href="#new-task">New Task</a></li>
            </ul>
        </nav>

        <section id="new-task" class="new-task">
            <h1>Enter New Task Below</h1>
            <form id="task-form">
                <label for="task-input">Enter New Task:</label>
                <input type="text" id="task-input" placeholder="New Task" required>

                <label for="due-date">Due Date:</label>
                <input type="date" id="due-date" required>

                <button type="submit" class="btn">Add Task</button>
            </form>
        </section>

        <section id="incomplete-tasks" class="incomplete-tasks">
            <h1>Ongoing Tasks</h1>
            <div class="task-list" id="ongoing-task-list">
                <!-- Newly created tasks will be displayed here -->
            </div>
        </section>
        
        <section id="complete-tasks" class="complete-tasks">
            <h1>Complete Tasks</h1>
            <div class="task-list" id="completed-task-list">
                <!-- Completed tasks will be displayed here -->
            </div>
        </section>

        <script>        </script>
    </body>
</html>
