<!DOCTYPE html>
<html>
    <head>
       <title>To do List</title> 
       <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <nav class="Tasks">
            <h2>Scroll Quick Here</h2>
            <ul class="Task-links">
                <li><a href="Complete">Complete Tasks</a></li>
                <li><a href="Incomplete">Ongoing Tasks</a></li>
                <li><a href="Add Task">New Task</a></li>
            </ul>
        </nav>
        <section class="New Task">
            <h1>Enter New Task Below</h1>
            <form id="New task">
                <label for="new task">Enter New Task</label>
                <input type="text" id="new task" placeholder="New Task">
                <button type="submit" class="btn">Add Task</button>
            </form>
        </section>
        <section class="Incomplete Task">
            <h1>Ongoing Tasks</h1>
            <div class="Ongoing Task">
                <!--Insert Logic to display incomplete tasks here-->
                
            </div>
        </section>

        
    </body>
</html>